#notes > div:not(:last-child) {
  margin-bottom: 2rem;
}

#notes > div > :nth-child(1) {
  font-size: 0.5rem;
}

#notes > div > :nth-child(3) img, audio, video {
  max-width: 100%;
}

#notes > div > :nth-child(n+4):nth-child(-n+4) {
  margin-right: 4px;
}
