#note {
  all: revert;
  padding: 2rem;
  border: 1px solid #888;
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.5);
}

#note > :nth-child(1) {
  font-size: 0.5rem;
}

#note > :nth-child(3) {
  display: none;
}

#note > :nth-child(n+4):nth-child(-n+4) {
  margin-right: 4px;
}
