#note {
  all: revert;
  padding: 2rem 0;
}

#note > :nth-child(1) {
  font-size: 0.5rem;
}

#note > :nth-child(3) {
  display: none;
}

#note > :nth-child(n+4):nth-child(-n+4) {
  margin-right: 4px;
}
