<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>LiteY</title>
    <link rel="stylesheet" href="css/yuuki.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/code.css">
    <link rel="stylesheet" href="css/note.css">
    <script src="js/litey.js"></script>
  </head>
  <body>
    <h1>掲示板へようこそ！</h1>
    <p>良識のあるメッセージを心がけてください</p>
    <textarea placeholder="ここにメッセージを入力" rows="4" cols="50" id="message"></textarea>
    <input type="submit" value="今すぐ送信！" onclick="notePost();">
    {% for note in notes | reverse %}
    <div id="note">
      <div>{{ note.ip }}</div>
      <div>{{ note.content }}</div>
      <div id="attachments">{{ note.content }}</div>
      <code>{{ note.date }}</code>
      <input type="submit" value="削除" onclick="noteDelete(&quot;{{ note.content | e }}&quot;, &quot;{{ note.id | e }}&quot;);">
    </div>
    {% endfor %}
  </body>
</html>
